.backoffice-card {
  
  box-shadow: 0px 0px 6px var(--warm-grey);

  h6 {
    color: var(--secondary);
  }

  p {
    svg {
      background-color: var(--background);
      border-radius: 5em;
    } 
  }
}

.backoffice-card-button {
  background-color: var(--button-background);
  border-style: none;
  font-size: 0.8rem;
  outline: none;
  padding-bottom: 0.3em !important;
  padding-top: 0.2em !important;

  a {
    color: var(--white);
    text-decoration: none !important;

  }
}

.icon-testimonial {
  &:active {
    transform: scale(0.9);
  }
  
  &:hover {
    transform: scale(1.2);
  }
}

.table-list {
  background-color: var(--background-table);
}
