.title-lg {
  font-family: 'Englebert', sans-serif !important;
  font-size: 3.5rem;
}

.title-md {
  font-family: 'Englebert', sans-serif !important;
  font-size: 3rem;
}

.news-col {
  margin-top: 2rem;
  text-align: center;
}

.btn-news {
  background-color: var(--white);
}

.btn-news:hover {
  background-color: var(--sky-drive);
}

.carousel {
  margin-top: 0 !important;
}