.center-col {
  margin-top: 2rem;
  text-align: center;
}

.center-col-test {
  margin-top: 9rem;
  text-align: center;
}

.title-lg {
  font-size: 3.5rem;
}

.title-md {
  font-size: 3rem;
}

.news-col {
  margin-top: 2rem;
  text-align: center;
}

.slick-col {
  margin: 2rem 3rem;
  padding-right: 6.5rem;
}

.btn-news {
  background-color: var(--white);
}

.btn-news:hover {
  background-color: var(--sky-drive);
}
